<div>
    <div class="topProduct">
        <div id="sliderDiv">
            <img id="prodImg"/>
        </div>
        <div id="infoImmo">
            <h1 data-prod="nom"></h1>
            <h2 data-prod="ville"></h2>
            <div class="innerProd" id="achatDiv"><span data-prod="achat"></span></div>
            <div class="innerProd">Surface : <span data-prod="surface"></span>m²</div>
            <div class="innerProd">Nb de pièces : <span data-prod="piece"></span></div>
            <div class="innerProd"><p>Description</p><span data-prod="desc"></span></div>
            <div class="innerProd">Prix : <span data-prod="prix"></span> €</div>
            <div class="petitPlus">Petit plus : <span data-prod="autre"></span></div>
        </div>
    </div>
    <div id="mapDiv"></div>
    <div id="addrDiv">Addr : <span data-prod="adresse"></span></div>
</div>
