<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- link to css -->
    <link rel="stylesheet" href="../src/css/main.css">
    <link rel="stylesheet" href="../src/css/menu.css">
    <link rel="stylesheet" href="../src/css/contact.css">

    <title>Casa Di Giulietta - Contact</title>
</head>
<body>

<section id="menu">
    <ul>
        <li id="logoMenu"><a href="../index.html"><img src="../src/img/logo4.png" alt="logo"></a></li>
        <li id="titleMenu">Casa Di Giulietta</li>
        <li id="vide">&nbsp;</li>
    </ul>
</section>

<h1>Contactez-nous</h1>

<form action="#" id="formContact">
    <div class="row">
        <div class="col-30">
            <label for="formNom">Nom</label>
        </div>
        <div class="col-70">
            <input type="text" id="formNom">
        </div>
    </div>
    <div class="row">
        <div class="col-30">
            <label for="formMail">Mail</label>
        </div>
        <div class="col-70">
            <input type="email" id="formMail">
        </div>
    </div>
    <div class="row">
        <div class="col-30">
            <label for="formObjet">Objet</label>
        </div>
        <div class="col-70">
            <input type="text" id="formObjet">
        </div>
    </div>
    <div class="row">
        <div class="col-30">
            <label for="formMessage">Message</label>
        </div>
        <div class="col-70">
            <textarea name="formMessage" id="formMessage" cols="70" rows="20"></textarea>
        </div>
    </div>
    <div class="row">
        <input type="button" id="formBtn" value="Envoyer">
    </div>
</form>

<div id="imgDiv">
    <img src="../src/img/maison2.jpg" alt="maison">
</div>

<div id="aboutUs">
    <h3>A propos de nous !</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet faucibus est at blandit. Quisque pellentesque
        ullamcorper sem sed placerat. In a metus libero. Phasellus orci leo, lacinia vel nulla id, interdum fringilla
        erat. Praesent vulputate mi at leo interdum, consectetur euismod nibh interdum. Integer dignissim dui id gravida
        imperdiet. Suspendisse a dolor dapibus, ullamcorper lorem consectetur, egestas lectus. Donec placerat tempus sem
        ac aliquam. Donec consectetur sed elit ac aliquam. Vestibulum ante ipsum primis in faucibus orci luctus et
        ultrices posuere cubilia Curae; Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
        himenaeos. In dictum non quam quis dictum. Proin mi lorem, aliquam quis risus sed, scelerisque dapibus quam. Ut
        viverra nunc urna. Vivamus et tortor nisi. Aliquam ut metus id erat efficitur tempor a elementum est.</p>


    <p>Morbi sit amet mauris consectetur, convallis diam euismod, dignissim massa. Fusce lectus ligula, tincidunt sit
        amet lectus quis, mollis condimentum metus. Vivamus iaculis, mauris quis rutrum rhoncus, arcu urna ullamcorper
        sem, in fermentum purus est et sem. Aenean elementum est viverra sem maximus vehicula. Morbi sed nisl suscipit,
        maximus enim vel, ultricies dolor. Donec et vehicula lorem, vel venenatis enim. Vestibulum faucibus sem eget
        efficitur dictum. Praesent elementum, neque et laoreet lobortis, sem risus consequat orci, vel scelerisque
        tellus orci ut orci. Nam semper ligula ac scelerisque volutpat.</p>

    <p>Fusce fermentum lorem sapien, id viverra magna tincidunt vitae. Integer tortor quam, suscipit eget turpis ut,
        condimentum elementum erat. Aenean hendrerit nibh a egestas tincidunt. Etiam massa odio, congue nec mollis id,
        tempor non leo. Suspendisse sagittis at metus sed condimentum. Vivamus sit amet quam bibendum, porttitor turpis
        sed, consectetur purus. Cras eu sem ac diam pharetra finibus. Sed lacinia sodales neque. Phasellus risus libero,
        posuere at tempus vel, mollis vitae arcu. In euismod dolor at ipsum posuere dictum. Ut erat magna, consequat id
        odio at, posuere vestibulum quam. Morbi pellentesque, sapien eu lacinia ultrices, neque metus interdum urna, a
        gravida eros turpis eu urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
        turpis egestas. Etiam a tempus urna. Aliquam erat volutpat.</p>
</div>

<div id="nousTrouver">
    <div>
        <h4>Où nous trouver</h4>
        <p>Adresse : 62 Avenue du Président John F. Kennedy, 59800 Lille</p>
        <p>Horaires : Du lundi au vendredi, de 9h à 17h</p>
    </div>

    <div id="mapAgence"></div>
    <p>A 10 min à pied de la gare Lille Flandres</p>
    <!--
    <p>Entrez votre adresse pour calculer l'itinéraire</p>
    <input type="text">
    <input type="button" value="Envoyer">
    !-->
</div>



<footer>
    <ul>
        <li><button class="mentionLegales">Mentions légales</button></li>
        <li><a href="../view/contact.html"><button>Nous contacter</button></a></li>
        <li>
            <img src="../src/img/logofb.png" alt="Facebook">
            <img src="../src/img/logoinsta.png" alt="Instagram">
        </li>
    </ul>
</footer>


<!-- The Modal -->
<div class="mentionsModal">

    <!-- Modal content -->
    <div class="modal-content">

        <h3>Mentions légales</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus, odio at pretium egestas, ex
            diam pulvinar augue, in posuere purus ante in odio. Vivamus in erat risus. Maecenas condimentum egestas
            quam, id imperdiet arcu viverra
            nec. Praesent tempor consectetur enim et feugiat. Suspendisse quis sem elementum, congue nibh ut, gravida
            ante. Ut ac blandit urna. Etiam eget augue a lorem ultrices iaculis non tincidunt arcu. Mauris tincidunt
            varius est at elementum.
            Nulla vehicula turpis sit amet est euismod pharetra. Praesent ipsum mauris, vestibulum pellentesque velit
            sed, interdum vestibulum lacus.</p>

        <div class="txtPlus">
            <p>Fusce congue libero id lectus sollicitudin euismod. Integer ut dolor dui. Sed mollis urna
                ut condimentum
                egestas. Morbi eget turpis eget mauris tempus lacinia ac et neque. Nulla dignissim quis diam et blandit.
                Donec vitae imperdiet ante. Vivamus
                nulla odio, volutpat egestas suscipit non, auctor in elit. Nunc elementum congue dapibus. Maecenas commodo,
                metus tristique placerat laoreet, justo magna iaculis nulla, eget rhoncus dolor lorem eget risus. Donec
                gravida nisl sit amet nisl
                consequat sodales. Aenean accumsan eleifend gravida.</p>

            <p>Quisque mollis felis eget lorem sollicitudin, nec gravida ex dignissim. Sed non magna ac elit
                sollicitudin
                facilisis vel cursus sem. Vestibulum consequat lacus sit amet venenatis facilisis. Proin viverra massa
                eu
                vehicula mattis. Nunc vestibulum
                nunc vel sollicitudin viverra. Aliquam sodales consectetur est fringilla ultricies. Integer tempus quis
                orci
                congue tincidunt. Etiam at congue leo. Etiam ultricies purus ac mollis sodales. Etiam vehicula et quam
                eget
                molestie.</p></div>


        <button class="readMore">Lire plus</button>

        <span class="close">Fermer</span>

    </div>

</div>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-Q8-xZAvhbFCoWYWh0gv02z36JFqDCVg&callback=initMap">
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script src="../src/js/modal.js"></script>
<script src="../src/js/maps.js"></script>

</body>
</html>